@import "../../bootstrap/scss/bootstrap";

$bold: 600;

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  font-weight: 700;
  color: black;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: black;
  margin-top:1em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  padding-right: 0.1em;
  padding-left: 0.3em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: $bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 0.2em;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: justify;
  line-height: 1.2em;
  word-wrap: break-word;
}

b {
  font-weight: $bold;
}

.row-titles {
  @extend .row;
  margin-right: 5rem;
  margin-left: 5rem;
}

.row-body {
  @extend .row;
  margin-right: 6rem;
  margin-left: 6rem;
}
